<div class="col-md-12" id="cartile">
    <div class="col-md-4" id="cartile-photo">
        <img src="http://placehold.it/300x200">
    </div>
    <div class="col-md-5" id="cartile-details">
        <h3>{{car.brand}} {{car.engine}}</h3>
        <span>{{car.date}} | {{car.fuel}} | {{car.gearbox}}</span>
    </div>
    <div class="col-md-3" id="cartile-left-panel">
        <div class="col-md-12">
            <h3>Ocena: 5</h3>
        </div>
        <div class="col-md-12">
            <h4>Cena: 100 zł/doba</h4>
        </div>
        <div class="col-md-12">
            <h4>Cena za 3 dni: 300 zł</h4>
        </div>
        <div class="col-md-12">
            <a class="btn btn-primary col-md-12">Rezerwuj</a>
        </div>
    </div>
</div>