body {
    background-color: #C0ECFA;
}

div {
    background-color: #FFF;
}

div.container {
    height: 800px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

div.text-center {
    text-align: center;
}